* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body * {
font-family: 'Roboto';
}

body {
  background: linear-gradient(150deg, #0f2b05, #000000);
  height: 100vh;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input, input::placeholder {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
}

button {
  margin-top: 32px;
  background-color: #f7dd43;
  border-radius: 8px;
  border-width: 2px;
  border-color: #fff;
  color: #0f2b05;
  padding: 4px;
  cursor: pointer;
}

header {
padding: 30px 0 10px 0px;
}

.card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
width: 270px;
height: 440px;

background-image: url(./assets/bg-ignite.svg);
background-position: center;
background-position-y: inherit;
user-select: none;
-webkit-user-select: none;
}

.card img {
 width: 150px;   
 height: 150px;
 object-fit: cover;
 border-radius: 50%;
 border: 4px solid #f7dd43;
 margin-top: 115px;
 cursor: pointer;
 /* pointer-events: none; */
 user-select: none;
 -webkit-user-select: none;
 -moz-user-select: none;
}

.info {
  display: flex;
  margin: 0px;
  flex-direction: column;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 98px;
  color: white;
  margin-left: 20px;
  text-align: left;
}

.info h1 {
font-size: 18px;
line-height: 140%;
}

.info p {
font-size: 14px;
line-height: 160%;
}